<div fxLayout="column" fxLayoutGap="10vh">
    <app-baner [id]="id"></app-baner>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="60%" fxLayoutAlign="center stretch">
            <p class="fs-19">Rice Exchange has been operational since 2020 and is rapidly changing the way this
                important foodstuff is transacted on the international market. Rice is integral to food security as half
                the world’s population depends on rice as a primary source of calories and the grain is the largest
                import item in the food baskets of many nations.</p>
            <br>
            <p class="fs-19">‍The platform, with users from over 60 countries, digitalizes rice trading using
                blockchain distributed ledger technology. Buyers, sellers and service providers connect in a digital
                environment, efficiently conduct trades and arrange insurance, shipping, inspection and settlement with
                the assurance of verifiable data and seamless integration.Once a trade is agreed, the platform generates
                a standardized set of documents including the invoice, bill of lading, inspection certificates, the
                shipping advice and insurance documents. A hash is created for each action and stored in the immutable
                audit log.</p>
            <br>
            <p class="fs-24">What are the benefits of Rice Exchange?</p>
            <br>
            <ul>
                <li class="fs-19">Allows buyers to achieve price discovery in both familiar and less familiar
                    origins.</li>
                <li class="fs-19">Rigorous on-boarding policy. All messages exchanged and all actions taken on the
                    platform are recorded in the immutable audit log.</li>
                <li class="fs-19">The counter function tool enables users to negotiate until all details of the
                    trade are agreed.</li>
            </ul>
            <br>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="18%">
                    <button mat-flat-button color="accent" class="fs-19">Join Us</button>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>

    </div>
</div>