<!-- <div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <video autoplay="true" loop="true" muted="" class="p-0 m-0 pb-5 col conf-vid d-none d-sm-none d-lg-block">
            <source src="../../../../assets/images/video-dcx.mp4" data-wf-ignore="true">
        </video>
    </div>
</div> -->

<!-- Imagen movil -->
<!-- <div class="container-fluid p-0 m-0">
    <div class="row p-0 m-0">
        <img src="assets/images/img_mov.png" class="col p-0 m-0 d-sm-block d-md-block d-lg-none embed-responsive">
    </div>
</div> -->

<div fxLayout="column" fxLayoutAlign="center">
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <video autoplay="true" loop="true" muted="" class="conf-vid">
            <source src="../../../../assets/images/video-dcx.mp4" data-wf-ignore="true">
        </video>
    </div>
</div>