<div fxLayout="column" fxLayoutGap="10vh">
    <app-baner [id]="id"></app-baner>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="60%" fxLayoutAlign="center">
            <p class="fs-19">DCX works with selected partners that help users better manage the risks associated
                with loss of goods during voyage or storage, losses from non-payment and harvest failure.</p>
            <br>
            <p class="fs-23">TRANSPORTATION AND STORAGE COVER</p>
            <p class="fs-19">‍DCX works with the top European providers to offer users the best possible
                insurance solution. Sometimes smaller parties have to settle for second best as they cannot access
                good cover. DCX solves this via a dedicated insurance cover that has been designed to cover all
                risks related to users’ products.</p>
            <br>
            <p class="fs-23">MARINE INSURANCE</p>
            <p class="fs-19">‍Marine insurance can be easily accessed simply on the platform. DCX offers bespoke
                and dedicated cover. We work with European underwriters which offer top quality insurance, assuring
                users the best experience in case of a claim.</p>
            <br>
            <p class="fs-23">NON-PAYMENT RISK</p>
            <p class="fs-19">‍Non-payment risk is the greatest hurdle the international rice trade faces.Prior
                to the full launch of our insurance solution we are able to propose alternate ways to cover this
                risk.</p>
            <br>
            <p class="fs-23">LOSS OF HARVEST (RICE & PULSES)</p>
            <p class="fs-19 mb-5">‍Agricultural services are often sold forward before harvest, exposing the
                farmer to adverse weather risk. This may result in loss of income and subsequent compensation
                payments for having failed to fulfil the forward sale.</p>
                <br>
                <div fxLayout="row">
                    <div fxLayout="column" fxFlex="18%">
                        <button mat-flat-button color="accent" class="fs-19">Join Us</button>
                    </div>
                </div>
                <br>
                <br>
                <br>
        </div>
    </div>
</div>