<div fxLayout="row" fxFlex.lg="100%" fxLayoutAlign="center">
    <div fxLayout.gt-md="column" fxFlex.gt-sm="80%" fxLayoutAlign="center">
        <div fxLayout="row" fxLayoutAlign="center center">
            <h1>Why Choose DCX</h1>
        </div>

        <div fxLayout="row" fxLayoutAlign="center center">
            <div fxLayout.gt-xs="column" fxLayout.gt-md="row" fxLayoutAlign="center" fxLayoutGap.gt-md="50px">
                <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-xs="50%" fxFlex.gt-md="30%">
                    <button mat-fab color="primary"><img src="../../../../assets/images/simb1.svg"
                            width="28px"></button>
                    <h1 class="center-text">Blockchain</h1>
                    <br>
                    <p class="center-text line-h fs-19">Blockchain technology is perfectly suited to commodity
                        trading,
                        allowing transactions to be agreed and completed in a fast, cost efficient and secure way.
                        Third
                        parties, including shipping companies and inspectors, can only access the data they need
                        thus
                        maintaining both buyer and seller privacy.</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-xs="50%" fxFlex.gt-md="30%">
                    <button mat-fab color="warn"><img src="../../../../assets/images/simb1.svg" width="28px"></button>
                    <h1 class="center-text">Smart Contracts</h1>
                    <br>
                    <p class="center-text line-h fs-19">All DCX platforms employ smart contracts. These
                        self-executing
                        contracts contain the terms of the agreement between buyer and seller written into code.
                        Smart
                        contracts make transactions traceable, transparent and immutable.</p>
                </div>
                <div fxLayout="column" fxLayoutAlign="start center" fxFlex.gt-xs="50%" fxFlex.gt-md="30%">
                    <button mat-fab color="accent"><img src="../../../../assets/images/simb1.svg" width="28px"></button>
                    <h1 class="center-text">Sustainability & Food Security</h1>
                    <br>
                    <p class="center-text line-h fs-19">DCX platforms simplify management and procurement of soft
                        commodities. Buyers of sustainable food commodities can search for suppliers and view the
                        relevant
                        verification documents online. In times of poor harvest or natural disasters large-scale
                        purchases
                        can be rapidly agreed. DCX platforms are integrated with inspection companies that ensure
                        goods are
                        packed correctly, reducing waste and spoilage.</p>
                </div>
            </div>
        </div>
        <br>
        <br>
        <br>
    </div>
</div>
<br>
<br>