<div fxLayout="column" fxLayoutGap="10vh">
    <app-baner [id]="id"></app-baner>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="60%" fxLayoutAlign="center">
            <p class="fs-19">DCX Freight will launch in 2022 as a standalone shipping solution. Freight is the
                single largest cost component in the supply chain after the value of the commodity. DCX Freight
                offers competitive shipping options, enabling users to make informed decisions and capture freight
                opportunities via sophisticated analytical tools.</p>
            <br>
            <p class="fs-19">DCX Freight connects users to a large number of shipping freight providers and
                brokers, in both the bulk and containerized segments, enabling access to competitive quotes, the
                ability to compare freights and finalize contracts. Freight quote requests can be made with the
                click of a mouse.</p>
            <br>
            <p class="fs-19">DCX Freight integrates freight rates with bids/offers on the platforms, providing
                like-for-like comparisons of buy and sell opportunities, allowing users to make informed decisions
                on import prices and to lock in optimal export margins. Users can compare the cost effectiveness of
                freight options, whilst negotiating the deal for the commodity using the comparison tool that
                provides both netback and landed prices.</p>
            <br>
            <p class="fs-19">DCX Freight integrates freight rates with bids/offers on the platforms, providing
                like-for-like comparisons of buy and sell opportunities, allowing users to make informed decisions
                on import prices and to lock in optimal export margins. Users can compare the cost effectiveness of
                freight options, whilst negotiating the deal for the commodity using the comparison tool that
                provides both netback and landed prices.</p>
            <br>
            <p class="fs-19">DCX Freight combines best shipping practice with advanced analytics, offering
                detailed real-time data on prices and freight rates as well as live demand and supply availability
                for any selected route.</p>
            <br>
            <p class="fs-19 mb-5">DCX Freight is available to users of all DCX marketplaces. It will serve the
                logistics industry by connecting ship operators and brokers with commodity markets in real-time,
                reducing empty mileage and improving environmental footprints.</p>
            <br>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="18%">
                    <button mat-flat-button color="accent" class="fs-19">Join Us</button>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>