<div fxLayout="column" fxLayoutGap="10vh">
    <app-baner [id]="id"></app-baner>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="60%">
            <p class="fs-19">Grains are the biggest food commodity with a market value of $2.1 trillion in 2020
                and forecast to reach $3.8 trillion by 2030, equivalent to a 6.2% CAGR. The largest grain markets
                are corn at 1.1 billion tons and wheat at 775 million tons.</p>
            <br>
            <p class="fs-19">Grains have always been the basis of the human diet. The global grain trade is
                integral to food security with many nations dependent on imports.</p>
            <br>
            <p class="fs-19">However grain markets are fragmented, plagued by inefficiencies and a lack of
                transparency. DCX Grains will remove these frictions by connecting exporters, importers, traders and
                third parties, enabling them to trade across the world efficiently and securely. Once a full
                marketplace has been created, market participants will enjoy price transparency and verifiable
                pricing data on a customizable dashboard.</p>
            <br>
            <p class="fs-24">
                DCX Grains offers users the following benefits:
            </p>
            <ul>
                <li class="fs-19">User-friendly interface for company registration and onboarding. All platform
                    users are vetted prior to onboarding.</li><br>
                <li class="fs-19">The ability to access cost-efficient services, including freight and
                    inspection. Quotes can easily be compared to lock-in competitive rates.</li><br>
                <li class="fs-19">Smart contract tools save negotiation time and reduce costs and the risk of
                    error.</li><br>
                <li class="fs-19">Convenient chat function for direct communication between parties dispensing
                    with the need for emails and phone calls.</li><br>
                <li class="fs-19">Digital creation and transfer of trade documentation minimizing the risk of
                    error, increasing efficiency, saving time and freeing up working capital.</li><br>
                <li class="fs-19">Embedded blockchain technology ensures transparency, immutability and
                    reliability. Contract amendments can only be made with the mutual agreement of all parties.</li><br>
            </ul>
            <br>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="18%">
                    <button mat-flat-button color="accent" class="fs-19">Join Us</button>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>