<footer fxLayout="column" fxLayoutGap="5vh" class="bg-black txt-white">
    <!-- Newsletter
    <div class="container-fluid">
        <div class="row">
            <div class="py-5 cont-news">
                <form class="justify-content-center">
                    <h1 class="text-white col">Sign up to our Newsletter</h1>
                    <input type="text" name="text" class="rounded box-news mt-1 col">
                    <button class="btn btn-warning mt-0 mt-sm-2 mt-md-0 btn-news col">Sign Up</button>
                </form>
            </div>
        </div>
    </div> -->

    <!-- Links -->
    <div fxLayout="row" fxFlex="100%" class="bg-footer">
        <div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" fxLayoutGap="2.0rem">
            <br><br>
            <div fxLayout="row" fxLayout.sm="column" fxLayout.lt-md="column" fxLayoutAlign="center"
                fxLayoutGap.gt-sm="10vh">
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.sm="50%"
                    fxFlex.md="20%" fxFlex.lg="20%" fxFlex.gt-lg="25%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="center start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex.xs="70%" fxFlex.lt-md="70%" fxFlex.gt-sm="auto">
                        <img src="../../../assets/images/logo2.svg" width="45%">
                        <br>
                        <h1>BUILDING TRUSTED, TRANSPARENT AND
                            EFFICIENT
                            MARKETPLACES.</h1>
                        <br>
                        <h2>DCX Group leads the digital
                            transformation of
                            global commodity markets by optimizing the online trade of supplies for billions of
                            consumers
                            around
                            the world.
                        </h2>
                    </div>

                </div>
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.lt-sm="100%" fxFlex.md="6%"
                    fxFlex.lg="10%" fxFlex.gt-lg="8%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="start start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="70%">
                        <h2 class="titulos start-txt"><strong>Quick Links</strong></h2>
                        <br>
                        <a class=" start-txt fs-18">Home</a><br><br>
                        <a class=" start-txt fs-18">About DCX</a><br><br>
                        <a class=" start-txt fs-18">Our Solutions</a><br><br>
                        <a class=" start-txt fs-18">Our Partners</a><br><br>
                        <a class=" start-txt fs-18">Help Center - FAQs</a>
                    </div>

                </div>
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.lt-sm="90%"
                    fxFlex.md="8%" fxFlex.lg="10%" fxFlex.gt-lg="8%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="start start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="70%">
                        <h2 class="titulos start-txt"><strong>Ask the Experts</strong></h2>
                        <br>
                        <a class=" start-txt fs-18">Customer Service</a><br><br>
                        <a class=" start-txt fs-18">Media Enquiries</a>
                    </div>

                </div>
                <div fxLayout.lt-sm="row" fxLayout.sm="row" fxLayout.gt-sm="column" fxFlex.lt-sm="90%"
                    fxFlex.md="15%" fxFlex.lg="12%" fxFlex.gt-lg="15%" fxLayoutAlign.sm="center center"
                    fxLayoutAlign.gt-sm="start start">
                    <div fxLayout.lt-sm="column" fxLayout.sm="column" fxFlex="70%">
                        <h2 class="txt-white titulos start-txt"><strong>Contact Us</strong></h2>
                        <br>
                        <a class=" fs-18">support@dcx.group</a><br><br>
                        <a class=" fs-18">4 Battery Road,<br>Singapore,049908</a><br><br>
                        <a class=" fs-18">33 St James's Street<br>London, SW1A 1HD,
                            UK</a><br><br>
                        <a ><img src="../../../assets/images/whasa.svg">Whatsapp</a><br>
                        <button mat-flat-button fxFlexAlign.md="stretch" color="accent">Start Trading
                            Today!</button><br><br>
                        <button mat-flat-button fxFlexAlign.md="stretch" color="white">Subscribe to DCX
                            Newsletter</button>
                    </div>

                </div>
            </div>
            <div fxLayout="row" fxLayoutAlign="center" fxLayoutGap.lt-sm="15vh" fxLayoutGap.sm="15vh" fxLayoutGap.gt-sm="50vh">
                <a fxLayout="row"  fxFlex="100%"><img
                        src="../../../assets/images/linkedin.svg">Linkedin</a>
                <a fxLayout="row"  fxFlex="100%"><img
                        src="../../../assets/images/facebook.svg">Facebook</a>
            </div>
            <br><br>
        </div>

    </div>

    <!-- DCX Links
    <div class="py-5 cont-links">

        <div class="btn rounded-circle border-warning border-3 poscionar-btn-Up" >
            <a href="inicio#navbar">
                <img width="50" height="50" src="../../../assets/images/subir.svg">
            </a>
        </div>

        <div class="container">
            <div class="row mx-sm-0">
                <div class="col-sm-12 mx-sm-0 mt-sm-5 col-md-6 col-lg-3 col-xl-4 mx-lg-0 flex-column ">
                    <a href="index.html">
                        <img src="../../../assets/images/logo2.svg" width="170" class="d-block">
                    </a>
                    <h5 align="Start" class="pt-4 txt-white">BUILDING TRUSTED, TRANSPARENT AND EFFICIENT MARKETPLACES.</h5>
                    <br>
                    <h5 class="txt-white" align="Start">DCX Group leads the digital transformation of global commodity markets by optimizing the online trade of supplies for billions of consumers around the world.</h5>
                </div>
                <div class="col-sm-12 mx-sm-0 mt-sm-5 col-md-6 col-lg-3 col-xl-2 mx-lg-0 flex-column" align="Start">
                    <h5 class="txt-white">Quick Links</h5>
                    <br>
                    <a href="" class="color-links"><p class="color-links">Home</p></a>
                    <a href="" class="color-links"><p class="color-links">About DCX</p></a>
                    <a href="" class="color-links"><p class="color-links">Our Solutions</p></a>
                    <a href="" class="color-links"><p class="color-links">Our Partners</p></a>
                    <a href="" class="color-links"><p class="color-links">Help Center - FAQs</p></a>
                </div>
                <div class="col-sm-12 mx-sm-0  mt-sm-5 col-md-6 mx-md-0 col-lg-3 col-xl-3 mx-lg-0 flex-column" align="Start">
                    <p class="txt-white">Ask the Experts</h5>
                    <br>
                    <a href="" class="color-links"><p class="color-links">Customer Service</p></a>
                    <a href="" class="color-links"><p class="color-links">Media Enquiries</p></a>
                </div>
                <div class="col-sm-12 mx-sm-0 mt-sm-5 col-md-6 mx-md-0 col-lg-3 col-xl-3 mx-lg-0 flex-column" align="Start">
                    <p class="txt-white">Contact Us</h5>
                    <br>
                    <a href="" class="color-links"><p class="color-links">support@dcx.group</p></a>
                    <a href="" class="color-links"><p class="color-links">4 Battery Road,<br>Singapore,049908</p></a>
                    <a href=""class="color-links"><p class="color-links">33 St James's Street<br>London, SW1A 1HD, UK</p></a>
                    <a href="" class="color-links"><img src="../../../assets/images/whasa.svg">Whatsapp</a>
                    <br>
                    <button class="btn btn-warning w-100 my-2 ">Start Trading Today!</button>
                    <br>
                    <button class="btn btn-light w-100">Subscribe to DCX Newsletter</button>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-6 h-50 pt-5 ">
                    <a href="" class="color-icon d-flex justify-content-center">
                    <img src="../../../assets/images/linkedin.svg">
                    <h6 class="my-0 mx-1 text-white"> Linkedin</h6>
                </a>
                </div>
                <div class="col-6 h-50 pt-5">
                    <a href="" class="d-flex justify-content-center color-icon">
                        <img src="../../../assets/images/facebook.svg">
                        <h6 class="my-0 mx-1 text-white"> Facebook</h6>
                    </a>
                </div>
            </div>
        </div>

    </div> -->

    <!-- Terms and conditions -->
    <!-- <div class="cont-terms">
        <div class="container">
            <div class="row">
                <div class="col text-white">
                    <p class="pt-5 mb-1">© 2022 DCX Group. All rights reserved.</p>
                    <ul class="list-unstyled mb-5">
                        <li class="list-inline-item px-sm-0 px-md-3 px-lg-5">Terms & Conditions</li>
                        <li class="list-inline-item px-sm-0 px-md-3 px-lg-5">Privacy Policy</li>
                        <li class="list-inline-item px-sm-0 px-md-3 px-lg-5">Disclaimer</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> -->

    <div fxLayout="row" fxLayoutAlign="center" class="bg-black">
        <div fxLayout="column" fxLayoutAlign="start center">
            <p>© 2022 DCX Group. All rights reserved.</p>
            <div fxLayout="row" fxLayoutGap="10vh">
                <a >Terms & Conditions</a>
                <a >Privacy Policy</a>
                <a >Disclaimer</a>
            </div>
            <br><br>
        </div>
    </div>
</footer>