<div fxLayout="column" fxLayoutGap="10vh">
    <app-baner [id]="id"></app-baner>
    <div fxLayout="row" fxLayoutAlign="center stretch">
        <div fxLayout="column" fxFlex="60%" fxLayoutAlign="center">
            <p class="fs-19">Fertilizer Exchange started operations in 2021. Fertilizer is a crucial input in
                agriculture and thus underpins global food security. Adding 192 kilos of nitrogen fertilizer per
                hectare produces approximately 9.3 tons of grain compared with 2.1 tons without fertilizer.</p>
            <br>
            <p class="fs-19">In 2019, the fertilizer market was valued at around US$200 billion. The combination
                of rising populations, growing demand for grains and the use of agrochemicals to increase yields is
                forecast to result in a compound annual growth rate of 2.2% in the global fertilizer market between
                2019 and 2026. Global consumption of the three principal fertilizer nutrients is estimated to exceed
                200 million tones this year.</p>
            <br>
            <p class="fs-19">The fertilizer market faces challenges including illiquidity, counterparty risk,
                margin erosion stemming from high freight and inspection costs and problems with paper documents
                including loss and human error. </p>
            <br>
            <p class="fs-19">Fertilizer Exchange enables buyers, sellers, brokers and third parties to trade
                quickly and securely. It offers users price discovery, digital documentation and smart contracts
                that reduce risk, increase transparency and improve productivity.</p>
            <br>
            <p class="fs-24">
                What are the benefits of Fertilizer Exchange?
            </p>
            <ul>
                <li class="fs-19">An active public marketplace with private negotiation and the ability to trade
                    the full range of fertilizers.</li>
                <li class="fs-19">Real time quotes from integrated service providers.</li>
                <li class="fs-19">Document-matching tool reduces manipulation and fraud. All actions are stored
                    in the immutable audit log</li>
            </ul><br>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="18%">
                    <button mat-flat-button color="accent" class="fs-19">Join Us</button>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>