<!-- <div class="container text-center my-5">
    <h1 class="title m-5 py-3 ">Our Solutions</h1>
    <div class="row justify-content-center">
        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img1.png">
                <div class="card-body">
                    <div class="card-text">
                        Rice Exchange cover the maritime rice trade and connects buyers and sellers of rice in over 60 countries.
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img2.png">
                <div class="card-body">
                    <div class="card-text">
                        Fertilizer Exchange improves access to the market allowing buyers, sellers and third parties to trade quickly and securely.
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img3.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Pulses is now open for registration ahead of the platform launch in Q2 2022
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img4.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Grains is now open for registration ahead of the platform launch in Q2 2022
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img5.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Freight connects buyers and sellers to maritime transport providers and brokers and offers easy access to freight quotes, bookings and contracting in the  dry bulk and container segments.
                    </div>
                </div>
            </div>
        </div>

        <div class=" col-sm-12 col-md-5 col-xl-3 my-3 my-sm-3 mx-sm-4 my-md-2 mx-md-3 mx-lg-3 shadow rounded ">
            <div class="card border-0 align-items-center p-3">
                <img class="card-img-top img-card" src="../../../../assets/images/img6.png">
                <div class="card-body">
                    <div class="card-text">
                        DCX Finance is embedded in the platforms to enable finance providers to provide trade finance solutions to users based on trades.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div fxLayout="row" fxFlex="100%" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="70%">
        <div fxLayout.gt-xs="column" fxLayout.gt-md="row" fxFlex="100%" fxLayoutAlign="center start">
            <h1>Our Solutions</h1>
        </div>
        <div fxLayout.lt-md="row" fxLayout.md="row" fxLayout.gt-md="column" fxFlex.gt-md="100%" fxLayoutAlign=" center">
            <div fxLayout.gt-xs="row" fxLayout.gt-md="column" fxLayoutAlign="start" fxLayoutGap="30px">
                <div fxFlex="80%" fxLayout.gt-xs="column" fxLayout.gt-md="row" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="start" fxLayoutGap="40px">
                    <mat-card fxLayout.gt-xs="column" fxLayout.gt-md="column" fxFlex="100%" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="center">
                        <mat-card-header fxLayout="column" fxLayoutAlign=" center">
                            <img class=" max-size-card" src="../../../../assets/images/img1.png" width="90%">
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxLayoutAlign="center">
                            <p class="fs-23">
                                Rice Exchange cover the maritime rice trade and connects buyers and sellers of rice in
                                over 60 countries.</p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card fxLayout.gt-xs="column" fxLayout.gt-md="column" fxFlex="100%" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="center">
                        <mat-card-header fxLayout="column" fxLayoutAlign=" center">
                            <img class=" img-max-size" src="../../../../assets/images/img2.png" width="90%">
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxLayoutAlign=" center">
                            <p class="center-text fs-23">
                                Fertilizer Exchange improves access to the market allowing buyers, sellers and third
                                parties
                                to trade quickly and securely.
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card fxLayout.gt-xs="column" fxLayout.gt-md="column" fxFlex="100%" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="center">
                        <mat-card-header fxLayout="column" fxLayoutAlign=" center">
                            <img class=" img-max-size" class="" src="../../../../assets/images/img3.png" width="90%">
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxLayoutAlign=" center">
                            <p class="center-text fs-23">
                                DCX Pulses is now open for registration ahead of the platform launch in Q2 2022.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
                <div fxFlex="80%" fxLayout.gt-xs="column" fxLayout.gt-md="row" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="start" fxLayoutGap="40px">
                    <mat-card fxLayout.gt-xs="column" fxLayout.gt-md="column" fxFlex="100%" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="center">
                        <mat-card-header fxLayout="column" fxFlex="100%" fxLayoutAlign=" center">
                            <img class=" img-max-size" src="../../../../assets/images/img4.png" width="90%">
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxFlex="100%" fxLayoutAlign=" center">
                            <p class="center-text fs-23">
                                DCX Grains is now open for registration ahead of the platform launch in Q2 2022
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card fxLayout.gt-xs="column" fxLayout.gt-md="column" fxFlex="100%" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="center">
                        <mat-card-header fxLayout="column" fxLayoutAlign=" center">
                            <img class=" img-max-size" src="../../../../assets/images/img5.png" width="90%">
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxLayoutAlign=" center">
                            <p class="center-text fs-23">
                                DCX Freight connects buyers and sellers to maritime transport providers and brokers and
                                offers easy access to freight quotes, bookings and contracting in the dry bulk and
                                container
                                segments.
                            </p>
                        </mat-card-content>
                    </mat-card>
                    <mat-card fxLayout.gt-xs="column" fxLayout.gt-md="column" fxFlex="100%" fxLayoutAlign.lt-md="center" fxLayoutAlign.md="center" fxLayoutAlign.gt-md="center">
                        <mat-card-header fxLayout="column" fxLayoutAlign=" center">
                            <img class=" img-max-size" src="../../../../assets/images/img6.png" width="90%">
                        </mat-card-header>
                        <mat-card-content fxLayout="column" fxLayoutAlign=" center">
                            <p class="center-text fs-23">
                                DCX Finance is embedded in the platforms to enable finance providers to provide trade
                                finance solutions to users based on trades.
                            </p>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>