<div fxLayout="column" fxLayout="center center" class="mat-elevation-z0">
  <mat-toolbar class="bg-white" fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="10px"
    fxLayoutAlign.lt-lg="end">

    <mat-toolbar-row fxLayoutGap="10px" fxLayoutAlign="center center" fxHide fxShow.gt-lg="true">
      <button mat-button fxLayout.lt-lg="row" fxLayoutAlign.lt-lg="start">
        <img src="../../../assets/images/logo.svg" routerLink="" width="110px">
      </button>

      <div *ngFor="let item of _navBar.data; let i = index">

        <div *ngIf="item.subMenu.length!=0">
          <button mat-button [matMenuTriggerFor]="trade">{{item.text}}<mat-icon *ngIf="item.subMenu.length!=0">
              arrow_drop_down</mat-icon></button>

          <mat-menu #trade="matMenu">
            <button mat-menu-item routerLink="{{_navBar.data[i].text| lowercase }}/{{item|replace}}"
              *ngFor="let item of _navBar.data[i].subMenu">{{item}}</button>

          </mat-menu>
        </div>
        <div *ngIf="item.subMenu.length==0">
          <button mat-button routerLink="{{item.text | replace}}">{{item.text}}</button>
        </div>
      </div>
      <button mat-flat-button fxHide.lt-lg="true" [matMenuTriggerFor]="Contact">Contact Us <mat-icon>arrow_drop_down
        </mat-icon></button>
      <mat-menu #Contact="matMenu" yPosition="below">
        <div fxLayout="row" fxLayoutAlign="space-between">
          <button mat-button class="contact-padding">Contact Details</button>
          <button mat-button class="contact-padding">Help Center-FAQs</button>
        </div>
        <div class="contact-padding" fxLayout="row" fxLayoutAlign="space-between">
          <p>Lets's Talk
            <img src="../../../assets/images/mail-n.png" width="20">
            <img src="../../../assets/images/what-n.png" width="20">
          </p>

          <p>Follow Us:
            <img src="../../../assets/images/link-n.png" width="20">
            <img src="../../../assets/images/face-n.png" width="20">
          </p>

        </div>

      </mat-menu>
      <button mat-button class="bg-search" (click)="searchBar.toggle()" fxFlexOrder.lt-lg="1">
        <mat-icon><span class="material-symbols-outlined">
            search
          </span>
        </mat-icon>
      </button>

      <button mat-stroked-button [matMenuTriggerFor]="Login" fxHide.lt-lg="true" fxLayoutAlign="center">
        Login<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #Login="matMenu" yPosition="below">
        <button mat-menu-item>Digital Commodity Exchange</button>
        <button mat-menu-item>Fertilizer Exchange</button>
        <button mat-menu-item>Rice Exchange</button>
      </mat-menu>

      <button mat-flat-button color="accent" fxFlex.lt-sm="27%" fxFlex.lt-md="16%" fxFlex.lt-lg="13%"
        [matMenuTriggerFor]="Start" fxFlexOrder.lt-lg="0">
        Start trading<mat-icon>arrow_drop_down</mat-icon>
      </button>
      <mat-menu #Start="matMenu" yPosition="below">
        <button mat-menu-item>Fertilizers</button>
        <button mat-menu-item>Rice</button>
        <button mat-menu-item>Pulses</button>
        <button mat-menu-item>Grains</button>
        <button mat-menu-item>Other Commodities</button>
      </mat-menu>

      <button mat-flat-button fxHide.gt-md="true" class="bg-search" (click)="accordion.toggle()" fxFlexOrder.lt-lg="2"
        fx>
        <mat-icon>
          <span class="material-symbols-outlined">
            menu
          </span>
        </mat-icon>

      </button>
    </mat-toolbar-row>
    <mat-toolbar-row fxFlex="100%" fxLayout="row" fxLayoutAlign="space-between center" fxShow="true" fxHide.gt-lg>

      <div>
        <button mat-button routerLink=""><img src="../../../assets/images/logo.svg" width="100"></button>

      </div>
      <div>
        <button mat-flat-button color="accent">Trade Now</button>
        <button mat-button>
          <mat-icon>search</mat-icon>
        </button>
        <button mat-button (click)="accordion.toggle()">
          <mat-icon>menu</mat-icon>
        </button>

      </div>



    </mat-toolbar-row>

  </mat-toolbar>


</div>

<div class="mat-elevation-z3">

  <div fxLayout="column">

    <mat-expansion-panel class="mat-elevation-z0" #accordion [expanded]="false">
      <mat-accordion #accordion>



        <div *ngFor="let item of _navBar.data;let i = index">
          <mat-expansion-panel class="mat-elevation-z0" *ngIf="item.subMenu.length!=0">
            <mat-expansion-panel-header>{{item.text}}</mat-expansion-panel-header>

            <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
              <button mat-button fxFlex="100%" routerLink="{{_navBar.data[i].text| lowercase }}/{{item|replace}}"
                *ngFor="let item of _navBar.data[i].subMenu">{{item}}</button>
            </div>

          </mat-expansion-panel>


          <mat-expansion-panel class="mat-elevation-z0" *ngIf="item.subMenu.length==0" [hideToggle]="true" #prueba
            (expandedChange)=prueba.close() class="mat-elevation-z0">
            <mat-expansion-panel-header>{{item.text}}</mat-expansion-panel-header>
          </mat-expansion-panel>



        </div>

        <button mat-stroked-button>Login <mat-icon>expand_more</mat-icon></button>



        <!-- <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>Trade</mat-expansion-panel-header>

          <div fxLayout="column" fxFlex="100%" fxLayoutAlign="start start">
            <button mat-button (click)=accordion.close() fxFlex="100%" routerLink="rice-exchange">Rice Exchange</button>
            <button mat-button (click)=accordion.close() fxFlex="100%" routerLink="fertilizer-exchange">Fertilizer Exchange</button>
            <button mat-button (click)=accordion.close() fxFlex="100%" routerLink="dcx-pulse">DCX Pulses</button>
            <button mat-button (click)=accordion.close() fxFlex="100%" routerLink="dcx-grain">DCX Grains</button>

          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>services</mat-expansion-panel-header>
          <div fxLayout="columns" fxFlex="100%" fxLayoutAlign="start start">
            <button mat-button fxLayoutAlign="start"(click)=accordion.close() routerLink="dcx-finance" class="btn-expanded">DCX
              Finance</button>
            <button mat-button fxLayoutAlign="start"(click)=accordion.close() routerLink="dcx-freight" class="btn-expanded">DCX
              Freight</button>
            <button mat-button fxLayoutAlign="start"(click)=accordion.close() routerLink="dcx-insurance" class="btn-expanded">DCX
              Insurance</button>
          </div>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0" [hideToggle]="true" #prueba (expandedChange)=accordion.close() (expandedChange)="prueba.close()"
          class="mat-elevation-z0">
          <mat-expansion-panel-header routerLink="our-partners">Our Partners</mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0" [hideToggle]="true" #prueba1 (expandedChange)=prueba1.close()
          class="mat-elevation-z0">
          <mat-expansion-panel-header>Market Insights</mat-expansion-panel-header>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>Community</mat-expansion-panel-header>
          <button mat-button="" fxLayoutAlign="start"(click)=accordion.close() routerLink="" class="btn-expanded">Social Media</button>
          <button mat-button="" fxLayoutAlign="start"(click)=accordion.close() routerLink="news_and_updates" class="btn-expanded">News
            & Updates</button>
          <button mat-button="" fxLayoutAlign="start"(click)=accordion.close() routerLink="blog_posts" class="btn-expanded">Blog
            Posts</button>
        </mat-expansion-panel>
        <mat-expansion-panel class="mat-elevation-z0" [hideToggle]="true" #prueba3 (expandedChange)=prueba3.close()
          class="mat-elevation-z0">
          <mat-expansion-panel-header>About DCX</mat-expansion-panel-header>
        </mat-expansion-panel>

        <mat-expansion-panel class="mat-elevation-z0">
          <mat-expansion-panel-header>Contact Us</mat-expansion-panel-header>
          <button mat-button="" (click)=accordion.close() fxLayoutAlign="start" class="btn-expanded">Digital Commodity Exchange</button>
          <button mat-button="" (click)=accordion.close() fxLayoutAlign="start" class="btn-expanded">Fertilizer Exchange</button>
          <button mat-button="" (click)=accordion.close() fxLayoutAlign="start" class="btn-expanded">Rice Exchange</button>
        </mat-expansion-panel> -->
        <button mat-stroked-button (click)=accordion.close()>Login <mat-icon>expand_more</mat-icon></button>
      </mat-accordion>
    </mat-expansion-panel>

  </div>
</div>



<div fxLayout="row" fxLayoutAlign="center center">
  <mat-expansion-panel fxLayout="column" fxLayoutAlign="center" fxFlex="75%" #searchBar [expanded]="false"
    class="mat-elevation-z0">
    <div class="div-supremo" fxLayoutAlign="center center" fxFlex="100%">

      <mat-accordion fxLayout="row" fxLayoutAlign="center" fxFlex="50%">
        <input type="text" fxFlex="45%" placeholder="search..." />
        <button mat-flat-button color="accent" class="btn-perso">
          <mat-icon><span class="material-symbols-outlined">
              search
            </span></mat-icon>
        </button>
      </mat-accordion>
    </div>
  </mat-expansion-panel>
</div>