<div fxLayout="row" fxLayoutAlign="center center" fx>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>What our clients say</h1>
    </div>
</div>

<!-- <div class="fondo-carrusel my-5">
    <div class="container">
        <div class="row">
            <p class="titulos fs-40">What our clients say</p>
            <div id="carouselWithControls" class="text-center carousel slide pointer-event justify-content-center" data-bs-ride="carousel">
                    <div class="carousel-inner text-inner-car">
                        <div class="carousel-item active p-3">
                            <p>
                                “We onboarded as soon as the RIce Exchange platform was live and within a few days we concluded our first deal with a new buyer with whom we connected via the platform. The contract was created within seconds of concluding the deal and our trusted inspection company, Cotecna, received an automated notification. The Rice Exchange platform is well-designed and saves time and money when executing a rice trade and we expect to conclude more deals in the coming days.”
                            </p>
                            <img src="../../../../assets/images/perfil1.png" class="m-3" alt="Slide 1">
                        </div>
                        <div class="carousel-item p-3">
                            <p>
                                "The Fertilizer Exchange platform is a great technology hub for increasing our trading business and a smooth and reliable source for international trade."
                            </p>
                            <img src="../../../../assets/images/perfil2.png" class="" alt="Slide 2">
                        </div>
                        <div class="carousel-item p-3">
                            <p>
                                "The Fertilizer Exchange platform is a great technology hub for increasing our trading business and a smooth and reliable source for international trade."
                            </p>
                            <div class="m-5 p-4">
                                <h3>Emma Cócera Sánchez</h3>
                                <h4>Inside Sales, Antonio Tarazona</h4>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselWithControls" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </a>
                    <a class="carousel-control-next" href="#carouselWithControls" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </a>
            </div>
        </div>
    </div>
</div> -->

<!-- <div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxLayoutAlign="center center" fxFlex="50%">
        <p>
            “We onboarded as soon as the RIce Exchange platform was live and within a few days we concluded our first deal with a new buyer with whom we connected via the platform. The contract was created within seconds of concluding the deal and our trusted inspection company, Cotecna, received an automated notification. The Rice Exchange platform is well-designed and saves time and money when executing a rice trade and we expect to conclude more deals in the coming days.”
        </p>
        <img src="../../../../assets/images/perfil1.png" alt="Slide 1">
    </div>
</div> -->
<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="50%">
        <mat-carousel fxLayout="row" timings="550ms ease-in" [autoplay]="true" color="accent" [loop]="true" [hideArrows]="false" [hideIndicators]="true" class="pato">
            <mat-carousel-slide fxLayout="column" fxFlex *ngFor="let slide of slides; let i = index"[image]="slide.image">
            </mat-carousel-slide>
        </mat-carousel>
    </div>
</div>