<!-- <div fxLayout="row" fxLayoutAlign="center center" fx>
    <div fxLayout="column" fxLayoutAlign="center center">
        <h1>What our clients say</h1>
    </div>
</div>

<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex="50%">
        <mat-carousel fxLayout="row" timings="550ms ease-in" [autoplay]="true" color="accent" [loop]="true" [hideArrows]="false" [hideIndicators]="true" class="pato">
            <mat-carousel-slide fxLayout="column" fxFlex *ngFor="let slide of slides; let i = index"[image]="slide.image">
            </mat-carousel-slide>
        </mat-carousel>
    </div>
</div> -->