<div fxLayout="column" fxLayoutGap="10vh">
    <app-baner [id]="id"></app-baner>
    <div fxLayout="row" fxLayoutAlign="center">
        <div fxLayout="column" fxFlex="60%" fxLayoutAlign="center">
            <p class="fs-19">DCX Finance connects platform participants with the appropriate finance solution for each transaction across the supply chain from pre-shipment finance to receivables finance. We help participants understand which forms of finance and security are most appropriate and how best to avoid common pitfalls.</p>
            <br>
            <p class="fs-19">‍SMEs may struggle to raise finance as banks reduce lending activities due to perceived risks, regulatory issues, and onboarding problems. The robust and integrated onboarding process used on DCX platforms can improve the quality of information available to lenders resulting in quicker turnaround and improved confidence. DCX platforms are a secure environment for the safe exchange of data which can help to address the risks in trade finance. </p>
            <br>
            <p class="fs-19">Trade finance is a well-established and high impact method of finance; however, it has traditionally been a human resource and paper intensive business. Blockchain technology eliminates legacy paper-based resources and provides improved documentary management and audit trail for structurers and lenders. The transparency, integrity and immutable log built into the DCX platforms allows us to present attractive, reduced-risk transactions to banks and alternative lenders directly.</p>
            <br>
            <div fxLayout="row">
                <div fxLayout="column" fxFlex="18%">
                    <button mat-flat-button color="accent" class="fs-19">Join Us</button>
                </div>
            </div>
            <br>
            <br>
            <br>
        </div>
    </div>
</div>