/* You can add global styles to this file, and also import other style files */
/* .poscionar-btn-Up{
	float: right;
	margin-right: 10vh;
} */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; font-size: 20px; }

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

a{text-decoration: none;}

a:hover{
    color: white;
}

.contact-padding{
	padding: 2rem;
}

.div-ban{
	padding: 2rem;
	border-radius: 6px;
}

.conf-vid{
	height: 85vh;
	width: 100%;
	object-fit: cover;
}

.bg-footer{
	background-color:#1b2035;
}

.bg-black{
	background-color: black;
}

.bg-white{
	background-color: white;
}

.bg-search{
	background-color: gainsboro;
}

.img-bg-banner{
	z-index:0;
	object-fit:cover;
	overflow-x: auto;
}

.img-bg{
	background-size: cover;
	height: 72vh;
}

.txt-white{
	color: #fafafb;
}

.center-text{
	text-align: center;
}

.pad-partners{
	padding: 2rem;
}

.line-h{
	line-height: 140%;
}

.color-icon{
	text-decoration: none;
	color: black;
}

.banner-opacity{
	opacity:75% ;
}


.bg1{
	background-color:red;
	
}
.bg2{
	background-color: yellow;
}
div {
background-color:green;
}