<div fxLayout="row" fxLayoutAlign="center">
    <div fxLayout="column" fxFlex.lt-md="50%" fxFlex.gt-md="60%">
        <div fxLayout="row">
            <div fxLayout="column" fxLayoutAlign=" center" fxFlex="100%" fxLayoutGap="5vh">
                <h1 class="line-h">Trade with traceability and trust</h1><br>

                <h3 class="center-text line-h">
                    Digital Commodity Exchange (DCX) is the home of a range of agricultural commodity trading
                    platforms.
                    Secure and integrated online ecosystems to trade and deliver commodities globally. All
                    transactions are fully traceable. From fertilizer to rice, DCX platforms give improved market access and price
                    discovery.
                    Fraud and risk are reduced via smart contract solutions.
                </h3><br>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center">
            <div fxLayout="column" fxFlex="30%">
                <button mat-flat-button color="accent">
                    <b class="fs-20">Start Trading Today!</b>
                </button>
            </div>

        </div>
    </div>
</div>