/* For use in src/lib/core/theming/_palette.scss */
$palette-primary: (
    50 : #e8eaf0,
    100 : #c6cad9,
    200 : #a0a7c0,
    300 : #7a83a7,
    400 : #5e6994,
    500 : #414e81,
    600 : #3b4779,
    700 : #323d6e,
    800 : #2a3564,
    900 : #1c2551,
    A100 : #91a1ff,
    A200 : #5e75ff,
    A400 : #2b4aff,
    A700 : #1234ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

/* For use in src/lib/core/theming/_palette.scss */
$palette-accent: (
    50 : #fff8e0,
    100 : #ffeeb3,
    200 : #ffe380,
    300 : #ffd84d,
    400 : #ffcf26,
    500 : #ffc700,
    600 : #ffc100,
    700 : #ffba00,
    800 : #ffb300,
    900 : #ffa600,
    A100 : #ffffff,
    A200 : #fffaf2,
    A400 : #ffe6bf,
    A700 : #ffdca6,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

